* {
  padding: 10;
  margin: 20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  border-radius: 50%;
}

body {
  background-color: #fde8f7;
}

nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav a {
  color: #d12e49;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav li {
  list-style: none;
  margin-left: 10px;
}

.textodestacado {
  font-size: 30px;
  font-weight: 70%;
  font-family: cursive;
  color: black;
}

.parrafoinicial {
  font-size: 20px;
  font-style: italic;
}

section {
  margin: 20px 20px 20px 20px;
}

.seccion-principal {
  width: 100%;
  height: 800px;
  background-image: url(../img/fotoprincipal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  margin: 0px 0px 0px 0px;
  padding: 50px 50px 50px 50px;
}

.seccion-principal .cuerpo-seccion {
  padding: 40px;
  width: 500px;
  border-radius: 15px;
}

.seccion-principal-galeria {
  background-image: url(../img/fondoinfantil.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  margin: 0px;
  padding: 50px;
}

.seccion-principal .cuerpo-galeria {
  font-size: 60px;
  font-family: 'Courgette', cursive;
  color: violet;
  margin-top: 0px;
}

.seccion-principal-cuerpo-galeria h2 {
  font-size: 60px;
  font-family: 'Courgette', cursive;
  color: violet;
  margin-top: 0px;
  text-align: center;
}

.seccion-principal-recetas {
  background-image: url(../img/tortachocolate.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  margin: 0px;
  padding: 50px;
}

.seccion-principal-cuerpo-recetas {
  font-size: 60px;
  font-family: 'Courgette', cursive;
  color: violet;
  margin-top: 0px;
  text-align: center;
}

.seccion-secundaria {
  border: violet;
  border-style: solid;
  border-radius: 0.5%;
}

.seccion-secundaria .cabecera-seccion {
  background: violet;
  padding: 20px;
  color: white;
}

.parrafogaleria {
  text-align: left;
  font-size: 20px;
  font-style: italic;
}

.seccion-secundaria .cuerpo-seccion {
  padding: 20px;
}

.card {
  width: 300px;
  padding: 1rem;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
}

.foto img {
  width: 100%;
}

.foto h4 {
  text-align: center;
}

.justificado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  text-align: center;
}

footer .redessociales__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
}
/*# sourceMappingURL=aplicando_sass.css.map */